.navCont {
    height: 15vh;
    width: 100vw;
    margin: 10px 0 30px 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #1a1a1a;
    color: #ffffff;
    border-bottom: 1px solid #2a2a2a;
}

.search {
    width: 50%;
}

.search input {
    width: 50%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 23px;
    outline: none;
    transition: all 0.7s ease-in-out;
}

.search input:hover {
    transform: scale(1.05);
    width: 55%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background: linear-gradient(135deg, #ff4da6, #ff1a8c);
    color: white;
    border-radius: 23px;
    cursor: pointer;
    width: 100px;
}

.logo{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.4rem;
  letter-spacing: 3px;
  color: #ff2d95;
}